*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    min-height: 100%;
}
body {
    font-family: 微软雅黑, Arial;
    font-size: 12px;
    padding: 0px;
}

.padding_bottom_20{padding-bottom: 20px}
.blod{font-weight: bold}
.float-right{float: right;}
.float-left{ float: left;}
.clear{clear: both}